<h1>company name:</h1>
<h2><%= @company.name %></h2>
<h1><%= @company.description %></h1>
<h1><%= @company.location %></h1>
<h1><%= @company.size %></h1>
<button class="button2"><%= link_to "Create a Review", new_company_path %></button>
